---
layout: default
---

<!-- {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%} -->

<!-- begin Skills -->
<div class="post-container">


  {% if site.resume_section_skills %}
  <!-- begin Skills -->
  <section class="content-section">

    <header class="section-header">
      <h1 id="posts-label">Skills</h1>
    </header>
    {% for skill in site.data.skills %}
    <div class="resume-item">
      <h4 class="resume-item-title">{{ skill.skill }}</h4>
      <p class="resume-item-details">{{ skill.description }}</p>
    </div>
    {% endfor %}
    

  </section>
  <!-- end Skills -->
  {% endif %}







  {% if site.resume_section_education %}
  <br>
  <!-- begin Activities -->
  <section class="content-section">
    <header class="section-header">
      <!-- <h2 class="post-title">Activities</h2> -->
      <h1 id="posts-label">Activities</h1>
    </header>

    {% for activity in site.data.activities %}
    <div class="resume-item">
      <h4 class="resume-item-title" itemprop="name">{{ activity.company }} &bull; {{ activity.duration }}</h3>
      <!-- <h4 class="resume-item-details group" itemprop="description">{{ education.degree }} &bull; {{ education.year }}</h4> -->
      <p class="resume-item-details" itemprop="description">{{ activity.summary }}</p>
      
      <!-- <h5 class="resume-item-details award-title" itemprop="description">{{ activity.summary }}</h5> -->
      <p class="resume-item-details" itemprop="description">
        <ul class="resume-item-list">
          {% for result in activity.result %}
          <li>{{ result.result }}</li>
          {% endfor %}
        </ul></h5>

    </div>
    {% endfor %}
  </section>
  <!-- end Education -->
  {% endif %}









  {% if site.resume_section_experience %}
  <br>
  <!-- begin Experience -->
  <section class="content-section">

    <header class="section-header">
      <h1 id="posts-label">Prizes</h1>
    </header>

    {% for prize in site.data.prizes %}
    <div class="resume-item">
      <h4 class="resume-item-title" itemprop="name">{{ prize.name }}</h3>
      <p class="resume-item-details" itemprop="description">{{ prize.company }} &bull; {{ prize.date }}</h4>
      <p class="resume-item-details" itemprop="description">{{ prize.summary }}</p>
    </div><!-- end of resume-item -->
    {% endfor %}

  </section>
  <!-- end Experience -->
  {% endif %}






  <!-- begin Projects -->
  <br>
  <br>
  <section class="content-section">
    <header class="section-header">
      <!-- <h2>Projects</h2> -->
      <h1 id="posts-label">Projects</h1>
    </header>

    {%- for post in site.posts -%}
    <ul class="projects">
      <li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="resume-project-link" href="{{ post.url | relative_url }}">
          <!-- <h2 class="post-title">{{ post.title | escape }}</h2> -->
          <h4>{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
          <ul class="post-categories">
            {%- for tag in post.categories -%}
              <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
          <!-- <div class="post-date">
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}</div>
          </div> -->
        
        <!-- <div class="post">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div> -->
      </li>
    </ul>
    {%- endfor -%}

  </section>


</div>




<!-- {{ content }} -->
